<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>role_enemy/0_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,638},{57,75}}</string>
				<key>offset</key>
				<string>{-8,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,78}</string>
			</dict>
			<key>role_enemy/0_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,752},{84,74}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,77}</string>
			</dict>
			<key>role_enemy/0_7_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,503},{39,77}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,77}</string>
			</dict>
			<key>role_enemy/0_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,345},{36,77}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,77}</string>
			</dict>
			<key>role_enemy/0_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,715},{36,74}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,74}</string>
			</dict>
			<key>role_enemy/0_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,507},{36,71}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,71}</string>
			</dict>
			<key>role_enemy/0_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,593},{44,63}}</string>
				<key>offset</key>
				<string>{17,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,63}</string>
			</dict>
			<key>role_enemy/0_7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,465},{50,62}}</string>
				<key>offset</key>
				<string>{20,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,62}</string>
			</dict>
			<key>role_enemy/0_7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,460},{62,47}}</string>
				<key>offset</key>
				<string>{26,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,47}</string>
			</dict>
			<key>role_enemy/0_7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,506},{78,42}}</string>
				<key>offset</key>
				<string>{35,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,42}</string>
			</dict>
			<key>role_enemy/0_7_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,670},{89,18}}</string>
				<key>offset</key>
				<string>{39,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,18}</string>
			</dict>
			<key>role_enemy/2_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,396},{62,75}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,78}</string>
			</dict>
			<key>role_enemy/2_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,399},{84,74}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,77}</string>
			</dict>
			<key>role_enemy/3_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,179},{42,77}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>role_enemy/3_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,144},{42,77}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>role_enemy/3_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,223},{42,77}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>role_enemy/3_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,559},{57,77}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,77}</string>
			</dict>
			<key>role_enemy/3_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,302},{42,77}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>role_enemy/3_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,424},{42,77}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>role_enemy/3_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,222},{42,77}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>role_enemy/3_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,381},{42,77}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>role_enemy/3_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,143},{54,77}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,77}</string>
			</dict>
			<key>role_enemy/3_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,428},{42,77}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>role_enemy/3_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,99},{42,78}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,78}</string>
			</dict>
			<key>role_enemy/3_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,119},{50,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,98}</string>
			</dict>
			<key>role_enemy/4_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,219},{50,80}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,83}</string>
			</dict>
			<key>role_enemy/4_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,259},{38,84}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,87}</string>
			</dict>
			<key>role_enemy/4_7_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,383},{50,80}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>role_enemy/4_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,301},{51,80}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,80}</string>
			</dict>
			<key>role_enemy/4_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,479},{57,78}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>role_enemy/4_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,473},{62,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,74}</string>
			</dict>
			<key>role_enemy/4_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,475},{71,59}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,59}</string>
			</dict>
			<key>role_enemy/4_7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,509},{78,56}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,56}</string>
			</dict>
			<key>role_enemy/4_7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,628},{92,51}}</string>
				<key>offset</key>
				<string>{16,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,51}</string>
			</dict>
			<key>role_enemy/4_7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,582},{111,44}}</string>
				<key>offset</key>
				<string>{25,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,44}</string>
			</dict>
			<key>role_enemy/4_7_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,630},{122,18}}</string>
				<key>offset</key>
				<string>{31,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,18}</string>
			</dict>
			<key>role_enemy/6_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,133},{101,140}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,140}</string>
			</dict>
			<key>role_enemy/6_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,231},{101,140}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,140}</string>
			</dict>
			<key>role_enemy/6_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,1},{98,140}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,140}</string>
			</dict>
			<key>role_enemy/6_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1},{95,140}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,140}</string>
			</dict>
			<key>role_enemy/6_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1},{99,138}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,138}</string>
			</dict>
			<key>role_enemy/6_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{101,140}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,140}</string>
			</dict>
			<key>role_enemy/6_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,119},{101,141}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>role_enemy/6_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1},{104,141}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,141}</string>
			</dict>
			<key>role_enemy/6_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,119},{101,138}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,138}</string>
			</dict>
			<key>role_enemy/6_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,258},{57,219}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,219}</string>
			</dict>
			<key>role_enemy/6_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,380},{111,113}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,113}</string>
			</dict>
			<key>role_enemy/6_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,262},{111,116}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,116}</string>
			</dict>
			<key>role_enemy/6_7_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1},{63,140}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,140}</string>
			</dict>
			<key>role_enemy/6_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,144},{63,140}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,140}</string>
			</dict>
			<key>role_enemy/6_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,286},{63,140}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,140}</string>
			</dict>
			<key>role_enemy/6_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,259},{60,135}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,135}</string>
			</dict>
			<key>role_enemy/6_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,141},{71,129}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>role_enemy/6_7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,253},{81,107}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,107}</string>
			</dict>
			<key>role_enemy/6_7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,143},{84,108}}</string>
				<key>offset</key>
				<string>{14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,108}</string>
			</dict>
			<key>role_enemy/6_7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,495},{110,96}}</string>
				<key>offset</key>
				<string>{26,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,96}</string>
			</dict>
			<key>role_enemy/6_7_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,143},{137,96}}</string>
				<key>offset</key>
				<string>{39,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,96}</string>
			</dict>
			<key>role_enemy/6_7_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{167,96}}</string>
				<key>offset</key>
				<string>{54,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,96}</string>
			</dict>
			<key>role_enemy/1_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,549},{39,77}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,80}</string>
			</dict>
			<key>role_enemy/1_7_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,301},{78,77}}</string>
				<key>offset</key>
				<string>{15,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,77}</string>
			</dict>
			<key>role_enemy/1_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,362},{78,77}}</string>
				<key>offset</key>
				<string>{18,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,77}</string>
			</dict>
			<key>role_enemy/1_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,441},{78,74}}</string>
				<key>offset</key>
				<string>{23,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,74}</string>
			</dict>
			<key>role_enemy/1_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,380},{89,71}}</string>
				<key>offset</key>
				<string>{29,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,71}</string>
			</dict>
			<key>role_enemy/1_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,550},{89,63}}</string>
				<key>offset</key>
				<string>{29,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,63}</string>
			</dict>
			<key>role_enemy/1_7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,550},{89,62}}</string>
				<key>offset</key>
				<string>{29,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>role_enemy/1_7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,614},{89,47}}</string>
				<key>offset</key>
				<string>{29,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,47}</string>
			</dict>
			<key>role_enemy/1_7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,615},{89,42}}</string>
				<key>offset</key>
				<string>{29,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,42}</string>
			</dict>
			<key>role_enemy/1_7_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,650},{99,18}}</string>
				<key>offset</key>
				<string>{34,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,18}</string>
			</dict>
			<key>role_enemy/5_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,241},{114,77}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,77}</string>
			</dict>
			<key>role_enemy/5_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,594},{84,77}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,77}</string>
			</dict>
			<key>role_enemy/5_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,585},{84,77}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,77}</string>
			</dict>
			<key>role_enemy/5_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,673},{84,77}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,77}</string>
			</dict>
			<key>role_enemy/5_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,272},{84,77}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,77}</string>
			</dict>
			<key>role_enemy/5_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,515},{89,77}}</string>
				<key>offset</key>
				<string>{-20,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,77}</string>
			</dict>
			<key>role_enemy/5_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,320},{84,77}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,77}</string>
			</dict>
			<key>role_enemy/5_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,506},{85,77}}</string>
				<key>offset</key>
				<string>{-25,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,77}</string>
			</dict>
			<key>role_enemy/5_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,351},{84,77}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,77}</string>
			</dict>
			<key>role_enemy/5_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,593},{84,77}}</string>
				<key>offset</key>
				<string>{-22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,77}</string>
			</dict>
			<key>role_enemy/5_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,664},{84,77}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,77}</string>
			</dict>
			<key>role_enemy/5_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1},{129,116}}</string>
				<key>offset</key>
				<string>{27,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,165}</string>
			</dict>
			<key>role_enemy/5_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,1},{116,130}}</string>
				<key>offset</key>
				<string>{18,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,137}</string>
			</dict>
			<key>role_enemy/5_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1},{129,116}}</string>
				<key>offset</key>
				<string>{-18,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,140}</string>
			</dict>
			<key>role_enemy/5_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,99},{116,130}}</string>
				<key>offset</key>
				<string>{-8,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,182}</string>
			</dict>
			<key>role_enemy/5_7_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,275},{101,77}}</string>
				<key>offset</key>
				<string>{-32,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,77}</string>
			</dict>
			<key>role_enemy/5_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,354},{98,77}}</string>
				<key>offset</key>
				<string>{-29,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,77}</string>
			</dict>
			<key>role_enemy/5_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,430},{83,74}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,74}</string>
			</dict>
			<key>role_enemy/5_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,433},{98,71}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,71}</string>
			</dict>
			<key>role_enemy/5_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,453},{98,63}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,63}</string>
			</dict>
			<key>role_enemy/5_7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,518},{98,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,62}</string>
			</dict>
			<key>role_enemy/5_7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,580},{105,48}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,48}</string>
			</dict>
			<key>role_enemy/5_7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,672},{120,41}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,41}</string>
			</dict>
			<key>role_enemy/5_7_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,659},{132,18}}</string>
				<key>offset</key>
				<string>{18,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,18}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>enemyPlist.png</string>
			<key>realTextureFileName</key>
			<string>enemyPlist.png</string>
			<key>size</key>
			<string>{1024,827}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>827</integer>
		</dict>
	</dict>
</plist>