<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>role_main/0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,409},{62,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,78}</string>
			</dict>
			<key>role_main/1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,368},{32,105}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,105}</string>
			</dict>
			<key>role_main/1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,368},{30,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,107}</string>
			</dict>
			<key>role_main/1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,199},{38,105}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,105}</string>
			</dict>
			<key>role_main/1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1},{57,105}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,105}</string>
			</dict>
			<key>role_main/1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,90},{42,107}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,107}</string>
			</dict>
			<key>role_main/1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,1},{30,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,105}</string>
			</dict>
			<key>role_main/1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,300},{33,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,107}</string>
			</dict>
			<key>role_main/1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,193},{42,105}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,105}</string>
			</dict>
			<key>role_main/1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,78},{54,104}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,104}</string>
			</dict>
			<key>role_main/1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,184},{42,104}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,104}</string>
			</dict>
			<key>role_main/2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,78},{38,108}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,108}</string>
			</dict>
			<key>role_main/3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,90},{50,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,101}</string>
			</dict>
			<key>role_main/4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,290},{41,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>role_main/4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,350},{54,41}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>role_main/4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,184},{41,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>role_main/4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,463},{54,41}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>role_main/5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{95,87}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,87}</string>
			</dict>
			<key>role_main/5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1},{95,75}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>role_main/6_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,188},{32,99}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,99}</string>
			</dict>
			<key>role_main/7_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,289},{39,77}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,77}</string>
			</dict>
			<key>role_main/7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,188},{36,77}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,77}</string>
			</dict>
			<key>role_main/7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,108},{36,74}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,74}</string>
			</dict>
			<key>role_main/7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,267},{36,71}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,71}</string>
			</dict>
			<key>role_main/7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,393},{44,63}}</string>
				<key>offset</key>
				<string>{17,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,63}</string>
			</dict>
			<key>role_main/7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,399},{50,62}}</string>
				<key>offset</key>
				<string>{20,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,62}</string>
			</dict>
			<key>role_main/7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,350},{62,47}}</string>
				<key>offset</key>
				<string>{26,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,47}</string>
			</dict>
			<key>role_main/7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,306},{78,42}}</string>
				<key>offset</key>
				<string>{35,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,42}</string>
			</dict>
			<key>role_main/7_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{89,18}}</string>
				<key>offset</key>
				<string>{39,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,18}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>playerPlist.png</string>
			<key>realTextureFileName</key>
			<string>playerPlist.png</string>
			<key>size</key>
			<string>{285,505}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>505</integer>
		</dict>
	</dict>
</plist>