<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/ninja0.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,321},{15,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,40}</string>
			</dict>
			<key>ui/ninja1.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,321},{24,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,58}</string>
			</dict>
			<key>ui/ninja10.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,244},{80,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,78}</string>
			</dict>
			<key>ui/ninja11.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,379},{97,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,78}</string>
			</dict>
			<key>ui/ninja12.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,379},{100,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,78}</string>
			</dict>
			<key>ui/ninja13.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,299},{108,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,78}</string>
			</dict>
			<key>ui/ninja14.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,379},{108,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,78}</string>
			</dict>
			<key>ui/ninja15.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,219},{118,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,78}</string>
			</dict>
			<key>ui/ninja16.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,139},{123,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,78}</string>
			</dict>
			<key>ui/ninja17.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,299},{135,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,78}</string>
			</dict>
			<key>ui/ninja18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,299},{151,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,78}</string>
			</dict>
			<key>ui/ninja19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{158,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,78}</string>
			</dict>
			<key>ui/ninja2.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,313},{28,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,74}</string>
			</dict>
			<key>ui/ninja20.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,321},{163,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,78}</string>
			</dict>
			<key>ui/ninja21.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1},{186,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,78}</string>
			</dict>
			<key>ui/ninja22.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,244},{193,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,78}</string>
			</dict>
			<key>ui/ninja23.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,161},{203,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,78}</string>
			</dict>
			<key>ui/ninja24.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,241},{203,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,78}</string>
			</dict>
			<key>ui/ninja3.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,237},{31,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,74}</string>
			</dict>
			<key>ui/ninja4.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,161},{36,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,78}</string>
			</dict>
			<key>ui/ninja5.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,324},{40,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,78}</string>
			</dict>
			<key>ui/ninja6.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,388},{47,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,78}</string>
			</dict>
			<key>ui/ninja7.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,312},{54,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,78}</string>
			</dict>
			<key>ui/ninja8.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,232},{66,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,78}</string>
			</dict>
			<key>ui/ninja9.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,389},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>ui/arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,161},{275,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,81}</string>
			</dict>
			<key>ui/challenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,81},{186,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,78}</string>
			</dict>
			<key>ui/operating.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,139},{377,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,91}</string>
			</dict>
			<key>ui/cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{512,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,136}</string>
			</dict>
			<key>ui/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{315,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,158}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uiPlist.png</string>
			<key>realTextureFileName</key>
			<string>uiPlist.png</string>
			<key>size</key>
			<string>{1024,480}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>480</integer>
		</dict>
	</dict>
</plist>