<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/ninja0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,173},{15,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,40}</string>
			</dict>
			<key>ui/ninja1.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,496},{24,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,58}</string>
			</dict>
			<key>ui/ninja10.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,392},{80,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,78}</string>
			</dict>
			<key>ui/ninja11.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,379},{97,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,78}</string>
			</dict>
			<key>ui/ninja12.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,404},{100,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,78}</string>
			</dict>
			<key>ui/ninja13.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,299},{108,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,78}</string>
			</dict>
			<key>ui/ninja14.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,324},{108,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,78}</string>
			</dict>
			<key>ui/ninja15.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,219},{118,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,78}</string>
			</dict>
			<key>ui/ninja16.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,139},{123,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,78}</string>
			</dict>
			<key>ui/ninja17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,390},{135,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,78}</string>
			</dict>
			<key>ui/ninja18.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,312},{151,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,78}</string>
			</dict>
			<key>ui/ninja19.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,500},{158,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,78}</string>
			</dict>
			<key>ui/ninja2.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,465},{28,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,74}</string>
			</dict>
			<key>ui/ninja20.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,420},{163,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,78}</string>
			</dict>
			<key>ui/ninja21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,232},{186,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,78}</string>
			</dict>
			<key>ui/ninja22.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,260},{193,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,78}</string>
			</dict>
			<key>ui/ninja23.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,244},{203,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,78}</string>
			</dict>
			<key>ui/ninja24.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,340},{203,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,78}</string>
			</dict>
			<key>ui/ninja3.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,389},{31,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,74}</string>
			</dict>
			<key>ui/ninja4.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,313},{36,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,78}</string>
			</dict>
			<key>ui/ninja5.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,237},{40,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,78}</string>
			</dict>
			<key>ui/ninja6.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,161},{47,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,78}</string>
			</dict>
			<key>ui/ninja7.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,420},{54,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,78}</string>
			</dict>
			<key>ui/ninja8.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,556},{66,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,78}</string>
			</dict>
			<key>ui/ninja9.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,244},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>ui/arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,161},{275,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,81}</string>
			</dict>
			<key>ui/challenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,232},{186,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,78}</string>
			</dict>
			<key>ui/operating.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,139},{377,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,91}</string>
			</dict>
			<key>ui/cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{512,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,136}</string>
			</dict>
			<key>ui/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{315,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,158}</string>
			</dict>
			<key>ui/hpBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,379},{65,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,12}</string>
			</dict>
			<key>ui/revive.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,84},{175,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,87}</string>
			</dict>
			<key>ui/submit.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1},{190,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,81}</string>
			</dict>
			<key>ui/cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,324},{172,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,81}</string>
			</dict>
			<key>ui/exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,312},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>ui/again.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,173},{173,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,85}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uiPlist.png</string>
			<key>realTextureFileName</key>
			<string>uiPlist.png</string>
			<key>size</key>
			<string>{1024,635}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>635</integer>
		</dict>
	</dict>
</plist>