<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/ninja0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,253},{15,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,40}</string>
			</dict>
			<key>ui/ninja1.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,308},{24,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,58}</string>
			</dict>
			<key>ui/ninja10.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,341},{80,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,78}</string>
			</dict>
			<key>ui/ninja11.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,487},{97,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,78}</string>
			</dict>
			<key>ui/ninja12.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,539},{100,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,78}</string>
			</dict>
			<key>ui/ninja13.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,299},{108,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,78}</string>
			</dict>
			<key>ui/ninja14.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,487},{108,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,78}</string>
			</dict>
			<key>ui/ninja15.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,219},{118,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,78}</string>
			</dict>
			<key>ui/ninja16.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,139},{123,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,78}</string>
			</dict>
			<key>ui/ninja17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,556},{135,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,78}</string>
			</dict>
			<key>ui/ninja18.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,459},{151,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,78}</string>
			</dict>
			<key>ui/ninja19.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,399},{158,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,78}</string>
			</dict>
			<key>ui/ninja2.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,232},{28,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,74}</string>
			</dict>
			<key>ui/ninja20.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,319},{163,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,78}</string>
			</dict>
			<key>ui/ninja21.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,340},{186,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,78}</string>
			</dict>
			<key>ui/ninja22.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,173},{193,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,78}</string>
			</dict>
			<key>ui/ninja23.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,244},{203,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,78}</string>
			</dict>
			<key>ui/ninja24.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,324},{203,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,78}</string>
			</dict>
			<key>ui/ninja3.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,404},{31,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,74}</string>
			</dict>
			<key>ui/ninja4.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,349},{36,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,78}</string>
			</dict>
			<key>ui/ninja5.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,273},{40,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,78}</string>
			</dict>
			<key>ui/ninja6.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,539},{47,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,78}</string>
			</dict>
			<key>ui/ninja7.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,501},{54,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,78}</string>
			</dict>
			<key>ui/ninja8.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,500},{66,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,78}</string>
			</dict>
			<key>ui/ninja9.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,421},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>ui/arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,161},{275,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,81}</string>
			</dict>
			<key>ui/challenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,420},{186,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,78}</string>
			</dict>
			<key>ui/operating.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,139},{377,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,91}</string>
			</dict>
			<key>ui/cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{512,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,136}</string>
			</dict>
			<key>ui/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{315,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,158}</string>
			</dict>
			<key>ui/hpBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,559},{65,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,12}</string>
			</dict>
			<key>ui/revive.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,84},{175,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,87}</string>
			</dict>
			<key>ui/submit.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1},{190,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,81}</string>
			</dict>
			<key>ui/cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,404},{172,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,81}</string>
			</dict>
			<key>ui/exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,478},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>ui/again.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,253},{173,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,85}</string>
			</dict>
			<key>ui/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,319},{179,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,78}</string>
			</dict>
			<key>ui/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,500},{178,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,72}</string>
			</dict>
			<key>ui/upgrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,379},{136,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,78}</string>
			</dict>
			<key>ui/receive.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,479},{136,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,78}</string>
			</dict>
			<key>ui/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,399},{166,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,77}</string>
			</dict>
			<key>ui/finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,244},{72,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,95}</string>
			</dict>
			<key>ui/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,161},{42,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,110}</string>
			</dict>
			<key>ui/backToMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,232},{345,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,85}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uiPlist.png</string>
			<key>realTextureFileName</key>
			<string>uiPlist.png</string>
			<key>size</key>
			<string>{1023,635}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>635</integer>
		</dict>
	</dict>
</plist>