<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>button/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,44},{102,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,52}</string>
			</dict>
			<key>button/exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,151},{100,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,51}</string>
			</dict>
			<key>button/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,100},{101,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,52}</string>
			</dict>
			<key>button/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,46},{102,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,52}</string>
			</dict>
			<key>button/ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,43},{102,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,53}</string>
			</dict>
			<key>button/restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,140},{100,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,52}</string>
			</dict>
			<key>button/again.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,154},{101,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,51}</string>
			</dict>
			<key>button/welfare.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,98},{102,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,51}</string>
			</dict>
			<key>button/clearAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{162,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,43}</string>
			</dict>
			<key>button/cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,98},{102,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,52}</string>
			</dict>
			<key>button/submit.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,152},{100,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,52}</string>
			</dict>
			<key>button/advertising.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{147,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,41}</string>
			</dict>
			<key>button/backToGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1},{147,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,40}</string>
			</dict>
			<key>button/buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,98},{130,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buttonPlist.png</string>
			<key>realTextureFileName</key>
			<string>buttonPlist.png</string>
			<key>size</key>
			<string>{462,206}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>462</integer>
			<key>height</key>
			<integer>206</integer>
		</dict>
	</dict>
</plist>