<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gamePlist/color_0_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,493},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_0_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,493},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_0_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,493},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_0_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,559},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_0_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,559},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_1_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,559},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_1_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,616},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_1_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,616},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_1_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,616},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_1_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,625},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_2_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,682},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_2_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,682},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_2_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,682},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_2_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,625},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_2_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,625},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_3_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,625},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_3_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,691},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_3_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,748},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_3_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,748},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_3_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,748},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_4_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,691},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_4_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,691},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_4_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,691},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_4_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,757},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_4_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,814},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_5_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,814},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_5_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,814},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_5_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,823},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_5_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,880},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gamePlist/color_5_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,880},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>aircraft/aircraft_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,124},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,124},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,124},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,124},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,247},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,247},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,247},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,370},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,370},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,370},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,370},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>aircraft/aircraft_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,493},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gamePlist.png</string>
			<key>realTextureFileName</key>
			<string>gamePlist.png</string>
			<key>size</key>
			<string>{504,945}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>504</integer>
			<key>height</key>
			<integer>945</integer>
		</dict>
	</dict>
</plist>